main {
    text-align: center;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button, .update {
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

#update{
    padding-bottom:0.8rem;
}

.changePassword:hover, .changePassword:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.show {
    display: block;
}

.submit {
    font-size: 1rem;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: cornflowerblue;
    padding: 0.2rem;
}

form {
    display: inline-block;
    text-align: center;
}

table {
    padding: 0.8rem;
    font-size: 1rem;
}

td {
    padding: 0.2rem;
}

.inputBox {
    border-radius: 0.2rem;
    display: inline-block;
    text-decoration: none;
    height: 1.5rem;
    font-size: 1rem;
}

p{
    padding-bottom: 0.5rem;
}

