
#confirmation {
    font-size: 1.15rem;
}

table {
    padding-bottom: 7%;
    text-align: center;
    width:100%;
    padding-top: 7%;
}

#confirmPayment {
    padding-top: 7%;
    text-align: center;
}

#confirmationTime, #confirmationPrice {
    border: 1px solid cornflowerblue;
    width: 100%;
    font-family: Arial;
    font-size:1.15rem;
    text-align: center;
}

.selectOptions {
    padding-left: 20%;
    display: inline-block;
    text-align: center;
}

option{
    font-size: 0.8rem;
}
#total{
    float: right;
    padding-right: 6rem;
    font-family: Arial;
    font-size:1.15rem;
    text-align: center;
}

#message{
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#code{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

#title{
    float: left;
    padding-left: 42.5%;
}

#hub{
    float: right;
    padding-right: 42.5%;
}

#stopButton{
    padding:4%;
    text-align: center;
}

