#history {
    padding: 1rem;
}

#month {
    text-align: left;
    background-color: lightgrey;
    padding: 1rem;
    font-family: Arial;
    font-size: 1.2rem;
}

#headings {
    text-align: left;
}

body {
    overflow: scroll;
}