*{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    text-decoration: underline;
    color: white;
    padding-bottom: 1rem;
}

body{
    background-color: white;
}

header{
    line-height: 2rem;
    background-color: cornflowerblue;
}


.NewAccountEntries{

    font-size: 1.5rem;
    width: 20rem;

}

p{
    display: block;
}
