* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}


#googleMap{
    width:100%;
    height:15rem;
}


input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button, .submitButton,.update .postButton{
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

.postButton {
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

body {
    background-color: white;

}

header {
    line-height: 2rem;
    background-color: cornflowerblue;
}

.NewAccountEntries {
    font-size: 1.5rem;
    width: 20rem;
}

p {
    display: block;
}

.logoutButton {
    float: right;
    background-color: cornflowerblue;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    text-align: center;
}



