* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    padding-bottom: 1rem;
    padding-left: 1rem ;
    padding-top: 0.5rem;
}

body {
    background-color: white;
}

header {
    line-height: 2rem;
    background-color: cornflowerblue;
}

.NewAccountEntries {
    font-size: 1.5rem;
    width: 20rem;
}

p {
    display: block;
}

.logoutButton {
    float: right;
    background-color: cornflowerblue;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    text-align: center;
}

