#timer, #distanceTraveled {
    font-size: 2rem;
    text-align: center;

}

#QuickstartButtons{
    padding-top: 5%;
    text-align: center;

}
.column{
    padding-top: 5%;
    float: left;
    width: 50%;
    text-align: center;

}

#logActivity{
    padding-top: 40%;
    text-align: center;

}

button,.submitButton{
    text-align: center;

    font-size: 1.8rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}


#googleMap{
    width:100%;
    height:15rem;
}


input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button, .submitButton,.update .postButton{
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

.postButton {
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: white;
    text-align: center;
}



