

*{

    text-align: center;
}




#timer, #distanceTraveled {
    font-size: 2rem;

}

#QuickstartButtons{
    padding-top: 5%;
}
.column{
    padding-top: 5%;
    float: left;
    width: 50%;
}

#logActivity{
    padding-top: 40%;
}

button,.submitButton{

    font-size: 1.8rem;
}




