*{
    overflow: hidden;
    margin: 0;
    padding: 0rem;

    font-family: Arial;
}

.tabs{

    overflow: hidden;
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;

}


.tabButton{
    background-color: cornflowerblue;
    border: none;
    outline:none;
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: inline-block;
    width:24%;
    text-align: center;


}
.tabButton:hover{
    background-color: grey;
}

body{
    height :calc(100vh - 3rem);
}


